<img src="../Imgs/pandas.png">

https://pandas.pydata.org
- Pandas e uma ferramenta de analisis e manipulação de dados, construida em linguagem python.
- É usado em diferentes areas como Financas, Economia, Estatistica entre outras
- Ferramenta para leer e escrever dados estructurados em formatos diferentes (CSV, Texto, Excel, SQL entre outros)
- Ele cria objetos de DataFrame com indexação integrada
- Aggregação e Transformação permitindo split-apply-combine 
- Merge e Joins de alta performance em data sets
- Iterações rapidas em colunas para tratamento de dados

**Bases de dados do governo Brasileiro**<br>
>https://dados.gov.br<br>

**Bases de dados de diversos temas**<br>
>https://www.kaggle.com/datasets

In [74]:
#Importando pandas
import pandas as pd
import numpy as np

#### Series

In [80]:
#Pandas Series
#Um grupo de series forma um dataframe
ds1 = pd.Series(np.random.randint(10, 25, size=5))
ds2 = pd.Series(np.random.randint(10, 25, size=5))
print(type(ds1))
print(ds1.shape)
print(ds1)
print('---------')
print(type(ds2))
print(ds2.shape)
print(ds2)

<class 'pandas.core.series.Series'>
(5,)
0    10
1    10
2    12
3    13
4    23
dtype: int64
---------
<class 'pandas.core.series.Series'>
(5,)
0    15
1    10
2    21
3    24
4    24
dtype: int64

In [84]:
#Matematica
ds = ds1 + ds2
print('Soma:')
print(ds)
print('\n')
print('Subtração:')
ds = ds1 - ds2
print(ds)
print('\n')
print('Multiplicação:')
ds = ds1 * ds2
print(ds)
print('\n')
print("Divisão:")
ds = ds1 / ds2
print(ds)
print('\n')
print('Media:')
print(ds1.mean())
print('\n')
print('Mediana:')
print(ds1.median())
print('\n')
print('Std Dev:')
print(ds1.std())
print('\n')
print('\n')

Soma:
0    25
1    20
2    33
3    37
4    47
dtype: int64


Subtração:
0    -5
1     0
2    -9
3   -11
4    -1
dtype: int64


Multiplicação:
0    150
1    100
2    252
3    312
4    552
dtype: int64


Divisão:
0    0.666667
1    1.000000
2    0.571429
3    0.541667
4    0.958333
dtype: float64


Media:
13.6


Mediana:
12.0


Std Dev:
5.412947441089743

In [92]:
#Comparando series
print("Igual:")
print(ds1 == ds2)
print("Maior que:")
print(ds1 > ds2)
print("Menor que:")
print(ds1 < ds2)
display(ds1[ds1 < ds2],ds2[ds1<ds2])

Igual:
0    False
1     True
2    False
3    False
4    False
dtype: bool
Maior que:
0    False
1    False
2    False
3    False
4    False
dtype: bool
Menor que:
0     True
1    False
2     True
3     True
4     True
dtype: bool

0    10
2    12
3    13
4    23
dtype: int64

0    15
2    21
3    24
4    24
dtype: int64

In [97]:
#numpy para serie
np_array = np.array([10, 20, 30, 40, 50])
labels = ['a','b','c','d','f']
ds_np = pd.Series(np_array, index=labels)

In [94]:
ds_np

a    10
b    20
c    30
d    40
f    50
dtype: int64

In [115]:
#Dict para serie 
d1 = {'a': '10', 'b': None, 'c':'Banna', 'd':'12', 'e':'240'}
ds_dict = pd.Series(d1)

In [116]:
print(ds_dict)
# print(type(ds_dict[0]))
# print(type(ds_dict[1]))
# print(type(ds_dict[2]))
# print(type(ds_dict[3]))

a       10
b     None
c    Banna
d       12
e      240
dtype: object

In [119]:
#Transformação serie para  float 
ds_dict = pd.to_numeric(ds_dict, errors='coerce')
print(ds_dict)
print(type(ds_dict[0]))
print(type(ds_dict[1]))
print(type(ds_dict[2]))
print(type(ds_dict[3]))
print(type(ds_dict[4]))

a     10.0
b      NaN
c      NaN
d     12.0
e    240.0
dtype: float64
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>

In [133]:
#Series para np array
a = np.array(ds_dict)
print(a)

[ 10.  nan  nan  12. 240.]

In [140]:
#adicionando valores a uma serie 
s = pd.Series(['10', '26', 'python', '300.12', '78'])
# new_s = s.append(pd.Series(['23','Ruby']), ignore_index=True)
new_s = s.append(pd.Series(['23','Ruby'])).reset_index(drop=True)

new_s

/var/folders/ht/z42mr3sn5dv1fg_dxr0llwd00000gn/T/ipykernel_3939/2774083566.py:4: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_s = s.append(pd.Series(['23','Ruby'])).reset_index(drop=True)

0        10
1        26
2    python
3    300.12
4        78
5        23
6      Ruby
dtype: object

In [154]:
#take from series
ds1 = pd.Series(np.random.randint(10, 25, size=5))

print(ds1)
print('\n')
print(ds1.value_counts())
element_idx = [2,4]
extract = ds1.take(element_idx)
print('\n')
print(extract)
print(ds1[element_idx])

0    14
1    12
2    13
3    21
4    21
dtype: int64


21    2
14    1
12    1
13    1
dtype: int64


2    13
4    21
dtype: int64
2    13
4    21
dtype: int64

In [156]:
#subsetting
print(ds1[2:])
print(ds1[2:-1])

2    13
3    21
4    21
dtype: int64
2    13
3    21
dtype: int64

In [164]:
#sort
ds1.sort_values().reset_index(drop=True)

0    12
1    13
2    14
3    21
4    21
dtype: int64

##### DYI Series

- 1 Crie duas series aleatorias com 30 numeros, no intervalo 20 a 50 cada  ds1 ds2
- 2 Crie uma nova serie com o nome g_than com a comparação entre a s1 e a s2 
- 3 Crie uma nova serie com o nome ds_sum com a soma das duas series 
- 4 Apresente o desvio padrão da serie ds_sum
- 5 Crie uma nova serie com 30 strings de 5 caracteres aleatorios (Dica. random.choice + string.ascii_lowercase)
- 6 Crie uma lista com todas as series criadas 
- 7 Crie um dataframe com as suas series (Dica. pd.concat())
- 8 Coloque o nome de cada serie no novo dataframe (Dica .rename)

In [72]:
import random 
import string

#1 
ds1 = pd.Series(np.random.randint(20, 50, size=30))
ds2 = pd.Series(np.random.randint(20, 50, size=30))

In [73]:
#2 gthan
g_than = ds1 > ds2
# print(g_than)

#3
ds_sum = ds1 + ds2
# print(ds_sum)

#4
ds_desv = ds_sum.std()
# print(ds_desv)

#5
ds_string = pd.Series([''.join(random.choices(string.ascii_lowercase, k=5)) for x in range(30)])
# print(ds_string)

#6
list_series = [ds1, ds2, g_than, ds_sum, ds_string]
# print(my_series)
# print(type(list_series))

#7
datasrs = pd.concat(list_series, axis = 1)
# datasrs

#8
datasrs.rename(columns={0:'ds1', 1: 'ds2', 2:'g_than', 3:'ds_sum', 4:'ds_string'}, inplace=True)
datasrs

<class 'list'>

    ds1  ds2  g_than  ds_sum ds_string
0    36   27    True      63     mypaw
1    46   23    True      69     huupx
2    36   28    True      64     tjsao
3    21   30   False      51     bholn
4    44   49   False      93     jzyop
5    44   20    True      64     ssukm
6    48   48   False      96     xuzjp
7    45   33    True      78     zwlir
8    36   30    True      66     twkhr
9    36   40   False      76     murra
10   21   47   False      68     wmudb
11   29   32   False      61     vestz
12   44   29    True      73     sgoqz
13   34   21    True      55     gkjim
14   30   39   False      69     iuyny
15   45   25    True      70     dvhxw
16   25   44   False      69     mkinq
17   24   35   False      59     dedzx
18   47   34    True      81     bzfkv
19   36   36   False      72     ydjat
20   44   47   False      91     jsxcx
21   30   22    True      52     rtocp
22   46   44    True      90     vnumo
23   37   45   False      82     aheci
24   27   43   False      70     tfooy
25   40   33    True      73     ryvox
26   43   30    True      73     rxeed
27   38   20    True      58     pgqlw
28   24   30   False      54     hovae
29   37   26    True      63     nkeyo

#### DataFrame

In [165]:
#Df from dict
exam_data  = {'nome': ['Ana', 'Maria', 'Carlos', 'João', 'Diego', 'Jorge', 'Silvio', 'Daniel', 'Kevin', 'Bruna'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'escolaridade': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'passou': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [166]:
#View Dataframe
df = pd.DataFrame(exam_data)

In [167]:
df

     nome  score  escolaridade passou
0     Ana   12.5             1    yes
1   Maria    9.0             3     no
2  Carlos   16.5             2    yes
3    João    NaN             3     no
4   Diego    9.0             2     no
5   Jorge   20.0             3    yes
6  Silvio   14.5             1    yes
7  Daniel    NaN             1     no
8   Kevin    8.0             2     no
9   Bruna   19.0             1    yes

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nome          10 non-null     object
 1   score         8 non-null      float64
 2   escolaridade  10 non-null     int64
 3   passou        10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 448.0+ bytes

In [184]:
df.describe()

           score  escolaridade
count   8.000000     10.000000
mean   13.562500      1.900000
std     4.693746      0.875595
min     8.000000      1.000000
25%     9.000000      1.000000
50%    13.500000      2.000000
75%    17.125000      2.750000
max    20.000000      3.000000

In [185]:
df.head()

     nome  score  escolaridade passou
0     Ana   12.5             1    yes
1   Maria    9.0             3     no
2  Carlos   16.5             2    yes
3    João    NaN             3     no
4   Diego    9.0             2     no

In [186]:
df.head(8)

     nome  score  escolaridade passou
0     Ana   12.5             1    yes
1   Maria    9.0             3     no
2  Carlos   16.5             2    yes
3    João    NaN             3     no
4   Diego    9.0             2     no
5   Jorge   20.0             3    yes
6  Silvio   14.5             1    yes
7  Daniel    NaN             1     no

In [187]:
df.tail()

     nome  score  escolaridade passou
5   Jorge   20.0             3    yes
6  Silvio   14.5             1    yes
7  Daniel    NaN             1     no
8   Kevin    8.0             2     no
9   Bruna   19.0             1    yes

In [235]:
#dataframe from list
data = [12,13,12,10,12,1,5,43,23]
df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data)
#dataframe append
x = df1.append(df2)
x.reset_index(inplace=True)
print(x)

    index   0
0       0  12
1       1  13
2       2  12
3       3  10
4       4  12
5       5   1
6       6   5
7       7  43
8       8  23
9       0  12
10      1  13
11      2  12
12      3  10
13      4  12
14      5   1
15      6   5
16      7  43
17      8  23

/var/folders/ht/z42mr3sn5dv1fg_dxr0llwd00000gn/T/ipykernel_3939/2491088216.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x = df1.append(df2).reset_index()

In [236]:
print(df1)

    0
0  12
1  13
2  12
3  10
4  12
5   1
6   5
7  43
8  23

#### Leituras (Excel,CXV,TXT)

http://landpage-h.cgu.gov.br/dadosabertos/index.php?url=https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2022/precos-gasolina-etanol-05.csv

In [261]:
#CSV
df_csv = pd.read_csv('bases/precos-gasolina-etanol-05.csv',sep=';')
# df_csv = pd.read_csv('bases/precos-gasolina-etanol-05.csv',sep=';', decimal=',')
# df_csv.info()

In [238]:
df_csv.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,S,PR,PATO BRANCO,SANTOS & MERLO LTDA.,79.854.667/0001-01,RUA TOCANTINS,2535,NaN,CENTRO,85501-010,GASOLINA,04/05/2022,"7,27",NaN,R$ / litro,RODOIL
1,S,PR,PATO BRANCO,SANTOS & MERLO LTDA.,79.854.667/0001-01,RUA TOCANTINS,2535,NaN,CENTRO,85501-010,GASOLINA ADITIVADA,04/05/2022,"7,38",NaN,R$ / litro,RODOIL
2,S,PR,PATO BRANCO,SANTOS & MERLO LTDA.,79.854.667/0001-01,RUA TOCANTINS,2535,NaN,CENTRO,85501-010,ETANOL,04/05/2022,6,NaN,R$ / litro,RODOIL
3,N,AC,CRUZEIRO DO SUL,CARDINAL E OLIVEIRA LTDA,03.608.766/0005-75,AVENIDA BOULEVARD THAUMATURGO,1031,NaN,CENTRO,69980-000,GASOLINA,04/05/2022,"7,77",NaN,R$ / litro,VIBRA ENERGIA
4,N,AC,CRUZEIRO DO SUL,CARDINAL E OLIVEIRA LTDA,03.608.766/0006-56,AVENIDA 25 DE AGOSTO,1350,NaN,25 DE AGOSTO,69980-000,GASOLINA,04/05/2022,"7,77",NaN,R$ / litro,VIBRA ENERGIA

In [249]:
#Value Counts - Contar rapidamente o numero de aparições de certa informação
df_csv['Estado - Sigla'].value_counts()

SP    18804
MG     6362
RJ     4781
PR     4030
BA     3985
RS     3644
CE     2400
GO     2399
SC     2345
PE     2265
MT     1633
ES     1319
PA     1219
MA     1113
MS     1035
RN      833
PI      778
AL      766
PB      734
AM      665
RO      649
DF      573
SE      568
TO      391
AC      359
AP      173
RR      126
Name: Estado - Sigla, dtype: int64

In [255]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63949 entries, 0 to 63948
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     63949 non-null  object
 1   Estado - Sigla     63949 non-null  object
 2   Municipio          63949 non-null  object
 3   Revenda            63949 non-null  object
 4   CNPJ da Revenda    63949 non-null  object
 5   Nome da Rua        63949 non-null  object
 6   Numero Rua         63913 non-null  object
 7   Complemento        13769 non-null  object
 8   Bairro             63747 non-null  object
 9   Cep                63949 non-null  object
 10  Produto            63949 non-null  object
 11  Data da Coleta     63949 non-null  object
 12  Valor de Venda     63949 non-null  object
 13  Valor de Compra    0 non-null      float64
 14  Unidade de Medida  63949 non-null  object
 15  Bandeira           63949 non-null  object
dtypes: float64(1), object(15)
memory usage: 7.8+ MB

In [262]:
#Pandas as Type
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html
df_csv['Valor de Venda'] = df_csv['Valor de Venda'].apply(lambda x:x.replace(',','.'))

df_csv['Valor de Venda'] = df_csv['Valor de Venda'].astype('float')

>Uma função lambda do Python se comporta como uma função normal em relação aos argumentos. Portanto, um parâmetro lambda pode ser inicializado com um valor padrão: o parâmetro **n** toma o **n** externo como valor padrão.

In [263]:
df_csv['Numero Rua'] = df_csv['Numero Rua'].apply(lambda x:0 if x == 'S/N' or 'SN' else x)
#As Type mais de uma coluna
df_csv = df_csv.astype({"Valor de Venda":float,"Numero Rua":int})

In [264]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63949 entries, 0 to 63948
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regiao - Sigla     63949 non-null  object
 1   Estado - Sigla     63949 non-null  object
 2   Municipio          63949 non-null  object
 3   Revenda            63949 non-null  object
 4   CNPJ da Revenda    63949 non-null  object
 5   Nome da Rua        63949 non-null  object
 6   Numero Rua         63949 non-null  int64
 7   Complemento        13769 non-null  object
 8   Bairro             63747 non-null  object
 9   Cep                63949 non-null  object
 10  Produto            63949 non-null  object
 11  Data da Coleta     63949 non-null  object
 12  Valor de Venda     63949 non-null  float64
 13  Valor de Compra    0 non-null      float64
 14  Unidade de Medida  63949 non-null  object
 15  Bandeira           63949 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 7.8+ MB

In [267]:
print(f"Media: {df_csv['Valor de Venda'].mean()}")
print(f"Max: {df_csv['Valor de Venda'].max()}")
print(f"Min: {df_csv['Valor de Venda'].min()}")

Media: 6.767205757713645
Max: 8.999
Min: 4.17

In [268]:
max_p = df_csv['Valor de Venda'].max()

In [269]:
df_csv[df_csv['Valor de Venda']==max_p]

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
4356,SE,SP,SAO PAULO,AUTO POSTO BARONESA,46.952.313/0001-40,AVENIDA ANGELICA,0,NaN,SANTA CECILIA,01228-000,GASOLINA ADITIVADA,02/05/2022,8.999,NaN,R$ / litro,VIBRA ENERGIA
4420,SE,SP,SAO PAULO,ITAMBE AUTO POSTO LTDA,43.946.524/0001-82,RUA ALAGOAS,0,NaN,HIGIENOPOLIS,01242-000,GASOLINA ADITIVADA,02/05/2022,8.999,NaN,R$ / litro,VIBRA ENERGIA
4564,SE,SP,SAO PAULO,DUQUE & CIA LTDA,46.359.261/0001-01,AVENIDA ANGELICA,0,NaN,SANTA CECILIA,01227-100,GASOLINA ADITIVADA,02/05/2022,8.999,NaN,R$ / litro,VIBRA ENERGIA
4591,SE,SP,SAO PAULO,AUTO POSTO VEIGA FILHO LTDA,43.552.462/0001-24,RUA CONS BROTERO,0,NaN,SANTA CECILIA,01232-010,GASOLINA ADITIVADA,02/05/2022,8.999,NaN,R$ / litro,VIBRA ENERGIA
7008,SE,SP,GUARUJA,POSTO DE SERVICOS VEREDA TROPICAL LTDA,54.004.189/0001-10,AVENIDA PUGLISI,0,NaN,CENTRO,11410-001,GASOLINA ADITIVADA,03/05/2022,8.999,NaN,R$ / litro,VIBRA ENERGIA

In [270]:
df_csv.to_csv('bases/preco_gasolina_new.csv', index=False)

In [284]:
#Excel
df_excel = pd.read_excel('bases/inpe_EM_BRAmz_results.xlsx',sheet_name='Sem degracação',skiprows=10)

In [272]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    61 non-null     int64
 1   D_Area                  61 non-null     int64
 2   D_AreaAcc               61 non-null     int64
 3   -                       61 non-null     object
 4   VR_CO2_1stOrder         61 non-null     int64
 5   VR_CO2_2ndOrder         61 non-null     int64
 6   VR_CO2_2ndOrderFire     61 non-null     int64
 7   VR_CO2_2ndOrderDecay    61 non-null     int64
 8   VR_CH42Eq_2ndOrderFire  61 non-null     int64
 9   VR_N2OEq_2ndOrderFire   61 non-null     int64
 10  SV_AreaTotal            61 non-null     int64
 11  SV_AreaCleared          61 non-null     int64
 12  SV_CO2Emission          61 non-null     int64
 13  SV_CO2Absorption        61 non-null     int64
 14  NET_CO2_2ndOrder        61 non-null     int64
 15  NET_CO2_1stOrder        61 non-null     int64
dtypes: int64(15), object(1)
memory usage: 7.8+ KB

In [279]:
df_excel.columns

Index(['Year', 'D_Area', 'D_AreaAcc', '-', 'VR_CO2_1stOrder',
       'VR_CO2_2ndOrder', 'VR_CO2_2ndOrderFire', 'VR_CO2_2ndOrderDecay',
       'VR_CH42Eq_2ndOrderFire', 'VR_N2OEq_2ndOrderFire', 'SV_AreaTotal',
       'SV_AreaCleared', 'SV_CO2Emission', 'SV_CO2Absorption',
       'NET_CO2_2ndOrder', 'NET_CO2_1stOrder'],
      dtype='object')

In [53]:
df_excel.head()

,Year,D_Area,D_AreaAcc,-,VR_CO2_1stOrder,VR_CO2_2ndOrder,VR_CO2_2ndOrderFire,VR_CO2_2ndOrderDecay,VR_CH42Eq_2ndOrderFire,VR_N2OEq_2ndOrderFire,SV_AreaTotal,SV_AreaCleared,SV_CO2Emission,SV_CO2Absorption,NET_CO2_2ndOrder,NET_CO2_1stOrder
0,1960,842754,842754,-,459,149,149,0,16,4,176978,0,0,0,149,459
1,1961,842754,1685508,-,459,247,149,98,16,4,353956,0,0,0,247,459
2,1962,842754,2528262,-,459,309,149,159,16,4,530935,0,0,0,309,459
3,1963,842754,3371016,-,459,347,149,198,16,4,707913,0,0,-2,345,457
4,1964,842754,4213770,-,459,373,149,224,16,4,884891,0,0,-5,368,454

In [285]:
df_excel.drop(columns=['-'],inplace=True)

In [286]:
df_excel

,Year,D_Area,D_AreaAcc,VR_CO2_1stOrder,VR_CO2_2ndOrder,VR_CO2_2ndOrderFire,VR_CO2_2ndOrderDecay,VR_CH42Eq_2ndOrderFire,VR_N2OEq_2ndOrderFire,SV_AreaTotal,SV_AreaCleared,SV_CO2Emission,SV_CO2Absorption,NET_CO2_2ndOrder,NET_CO2_1stOrder
0,1960,842754,842754,459,149,149,0,16,4,176978,0,0,0,149,459
1,1961,842754,1685508,459,247,149,98,16,4,353956,0,0,0,247,459
2,1962,842754,2528262,459,309,149,159,16,4,530935,0,0,0,309,459
3,1963,842754,3371016,459,347,149,198,16,4,707913,0,0,-2,345,457
4,1964,842754,4213770,459,373,149,224,16,4,884891,0,0,-5,368,454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2016,789300,75866363,444,398,145,252,15,4,17467119,1171004,153,-200,350,397
57,2017,694713,76561076,391,399,128,271,14,4,17793830,1182476,156,-204,351,343
58,2018,753584,77314661,424,409,139,270,15,4,18116561,1194169,159,-208,360,375
59,2019,1012933,78327594,581,464,189,275,20,6,18477956,1211042,162,-212,414,531
60,2020,1108800,79436395,633,517,206,311,22,6,18843208,1222696,164,-215,466,582

In [288]:
df_excel.iloc[12:30,2:]

,D_AreaAcc,VR_CO2_1stOrder,VR_CO2_2ndOrder,VR_CO2_2ndOrderFire,VR_CO2_2ndOrderDecay,VR_CH42Eq_2ndOrderFire,VR_N2OEq_2ndOrderFire,SV_AreaTotal,SV_AreaCleared,SV_CO2Emission,SV_CO2Absorption,NET_CO2_2ndOrder,NET_CO2_1stOrder
12,10955802,459,431,149,282,16,4,2300718,51831,4,-25,411,438
13,11798556,459,433,149,284,16,4,2477696,58217,5,-27,412,437
14,12641310,459,435,149,286,16,4,2654675,68514,7,-29,413,437
15,13484064,459,437,149,288,16,4,2831653,75265,8,-31,413,436
16,14326818,459,438,149,289,16,4,3008631,86970,10,-34,414,435
17,15169572,459,439,149,290,16,4,3185610,94070,11,-36,414,434
18,16012326,459,440,149,291,16,4,3362588,101127,12,-38,414,433
19,18162326,1172,673,380,292,41,12,3814088,108293,13,-41,645,1144
20,20312326,1172,827,380,446,41,12,4265588,115415,15,-43,799,1144
21,22417326,1147,914,372,542,40,12,4707638,129570,17,-45,886,1119
22,24522326,1147,970,372,598,40,12,5149688,137060,19,-52,937,1114
23,26627326,1147,1007,372,634,40,12,5591738,152830,21,-58,970,1110
24,28732326,1147,1032,372,660,40,12,6033788,160746,22,-64,990,1105
25,30837326,1147,1050,372,677,40,12,6475838,186986,25,-70,1005,1102
26,32942326,1147,1063,372,690,40,12,6917888,224934,29,-76,1015,1100
27,35047326,1147,1072,372,700,40,12,7359938,249581,32,-82,1023,1097
28,37152326,1147,1080,372,707,40,12,7801988,273450,35,-87,1028,1095
29,38929326,968,1028,314,713,34,10,8175158,315170,40,-85,982,923

In [291]:
df_excel.index = df_excel.index.map(str)
df_excel.loc[['2','30'],['D_Area','VR_CO2_1stOrder']]

     D_Area  VR_CO2_1stOrder
2    842754              459
30  1373000              748

In [292]:
df_excel.loc['2': , :'VR_CO2_1stOrder']

    Year   D_Area  D_AreaAcc  VR_CO2_1stOrder
2   1962   842754    2528262              459
3   1963   842754    3371016              459
4   1964   842754    4213770              459
5   1965   842754    5056524              459
6   1966   842754    5899278              459
7   1967   842754    6742032              459
8   1968   842754    7584786              459
9   1969   842754    8427540              459
10  1970   842754    9270294              459
11  1971   842754   10113048              459
12  1972   842754   10955802              459
13  1973   842754   11798556              459
14  1974   842754   12641310              459
15  1975   842754   13484064              459
16  1976   842754   14326818              459
17  1977   842754   15169572              459
18  1978   842754   16012326              459
19  1979  2150000   18162326             1172
20  1980  2150000   20312326             1172
21  1981  2105000   22417326             1147
22  1982  2105000   24522326             1147
23  1983  2105000   26627326             1147
24  1984  2105000   28732326             1147
25  1985  2105000   30837326             1147
26  1986  2105000   32942326             1147
27  1987  2105000   35047326             1147
28  1988  2105000   37152326             1147
29  1989  1777000   38929326              968
30  1990  1373000   40302326              748
31  1991  1103000   41405326              601
32  1992  1378600   42783926              751
33  1993  1489600   44273526              812
34  1994  1489600   45763126              812
35  1995  2905900   48669026             1584
36  1996  1816100   50485126              990
37  1997  1322700   51807826              721
38  1998  1738300   53546126              947
39  1999  1725900   55272026              941
40  2000  1822600   57094626              993
41  2001  1816500   58911126              990
42  2002  2165088   59718077             1093
43  2003  2539514   62257592             1301
44  2004  2777131   65034723             1410
45  2005  1901393   66936117              954
46  2006  1428628   68364745              747
47  2007  1164972   69529718              633
48  2008  1291096   70820815              699
49  2009   746365   71567180              438
50  2010   700000   72267180              415
51  2011   641799   72908980              372
52  2012   457100   73366080              250
53  2013   589095   73955175              326
54  2014   501199   74456375              276
55  2015   620687   75077062              339
56  2016   789300   75866363              444
57  2017   694713   76561076              391
58  2018   753584   77314661              424
59  2019  1012933   78327594              581
60  2020  1108800   79436395              633

In [300]:
df_excel[['Year', 'D_Area']]

    Year   D_Area
0   1960   842754
1   1961   842754
2   1962   842754
3   1963   842754
4   1964   842754
..   ...      ...
56  2016   789300
57  2017   694713
58  2018   753584
59  2019  1012933
60  2020  1108800

[61 rows x 2 columns]

In [301]:
#Text
df_text = pd.read_csv('bases/text.txt', sep="/t", header=None, index_col=0)

/var/folders/ht/z42mr3sn5dv1fg_dxr0llwd00000gn/T/ipykernel_3939/3997476943.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_text = pd.read_csv('bases/text.txt', sep="/t", header=None, index_col=0)

In [302]:
df_text

                   1            2   3   4
0
1       Roger Rendon     Mexicano  30 NaN
2        Mario Lopes     Mexicano  40 NaN
3      Roberto Nunes    Portugues  50 NaN
4   Fabio Nascimento   Brasileiro  29 NaN
5      Daniel Castro     Italiano  30 NaN
6    Alfonso Orlandi     Italiano  18 NaN

In [303]:
#Drop colmun
df_text.drop(columns=[4],inplace=True)

In [311]:
#set columns name
df_text.columns = ["Nome", "Nacionalidade", "Idade"]

# df_text.rename(columns={"Nome":"coluna de nomes"},inplace=True)

In [312]:
df_text

                Nome Nacionalidade  Idade
0
1       Roger Rendon      Mexicano     30
2        Mario Lopes      Mexicano     40
3      Roberto Nunes     Portugues     50
4   Fabio Nascimento    Brasileiro     29
5      Daniel Castro      Italiano     30
6    Alfonso Orlandi      Italiano     18

In [68]:
#subsetting
df_text[df_text['Idade']>=30]

             Nome Nacionalidade  Idade
0
1    Roger Rendon      Mexicano     30
2     Mario Lopes      Mexicano     40
3   Roberto Nunes     Portugues     50
5   Daniel Castro      Italiano     30

In [339]:
#Groupby
df_text.groupby('Nacionalidade').size().reset_index(name='contagem')

  Nacionalidade  contagem
0    Brasileiro         1
1      Italiano         2
2      Mexicano         2
3     Portugues         1

In [330]:
df_text.groupby(by='Nacionalidade').Idade.max()

Nacionalidade
 Brasileiro    29
 Italiano      30
 Mexicano      40
 Portugues     50
Name: Idade, dtype: int64

#### Grupos

In [348]:
#1
df_med = pd.read_csv("bases/TA_PRECO_MEDICAMENTO.csv", sep=';', encoding = 'iso-8859-15')

df_med

/var/folders/ht/z42mr3sn5dv1fg_dxr0llwd00000gn/T/ipykernel_3939/629930489.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_med = pd.read_csv("bases/TA_PRECO_MEDICAMENTO.csv", sep=';', encoding = 'iso-8859-15')

,SUBSTÂNCIA,CNPJ,LABORATÓRIO,CÓDIGO GGREM,REGISTRO,EAN 1,EAN 2,EAN 3,PRODUTO,APRESENTAÇÃO,...,PMC 18% ALC,PMC 20%,RESTRIÇÃO HOSPITALAR,CAP,CONFAZ 87,ICMS 0%,ANÁLISE RECURSAL,LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS),COMERCIALIZAÇÃO 2020,TARJA
0,SALICILATO DE FENILA;ÁCIDO SALICÍLICO;ÓXIDO DE...,33.379.884/0001-96,LABORATORIO SIMOES LTDA.,520500901178410,57600510011,7896210500354,-,-,TALCO ALÍVIO,TALQUEIRA C/ 100 G,...,"8,50","9,70",Não,Não,Não,Não,NaN,Negativa,Não,Tarja -(*)
1,DIENOGESTE;VALERATO DE ESTRADIOL,56.990.534/0001-67,SCHERING DO BRASIL QUÍMICA E FARMACÊUTICA LTDA,530917060013104,1002001390025,7896116871497,-,-,CHARMELIE,COM REV A + COM REV B + COM REV C + COM REV D ...,...,"163,25","186,12",Não,Não,Não,Não,NaN,Negativa,Não,Tarja Vermelha(*)
2,HIDROCLOROTIAZIDA;MALEATO DE ENALAPRIL,45.987.013/0001-34,ORGANON FARMACÊUTICA LTDA.,525500402113310,1002900020141,7897337705905,-,-,CO-RENITEC,"20 MG + 12,5 MG COM CT BL AL/AL X 30",...,"73,78","75,62",Não,Não,Não,Não,NaN,Positiva,Não,Tarja Vermelha
3,HIDROCLOROTIAZIDA;MALEATO DE ENALAPRIL,45.987.013/0001-34,ORGANON FARMACÊUTICA LTDA.,525500401117312,1002900020158,7897337705912,-,-,CO-RENITEC,10 MG + 25 MG COM CT BL AL/AL X 30,...,"48,45","49,67",Não,Não,Não,Não,NaN,Positiva,Não,Tarja Vermelha
4,MONTELUCASTE,45.987.013/0001-34,ORGANON FARMACÊUTICA LTDA.,525502006118219,1002900050014,7897337706575,-,-,SINGULAIR,5 MG COM MAST CT 3 BL AL PLAS INC X 10,...,"75,32","77,20",Não,Não,Não,Não,NaN,Positiva,Sim,Tarja Vermelha
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26305,CLORIDRATO DE SEVELÂMER,13.078.518/0001-90,FUNDAÇÃO BAIANA DE PESQ. CIENTIFICA E DESENV. ...,544018120000706,1988300020011,7898604730033,-,-,CLORIDRATO DE SEVELAMER,800 MG COM REV CT FR PLAS OPC X 180,...,NaN,NaN,Sim,Sim,Sim,Sim,NaN,Negativa,Não,Tarja Vermelha(*)
26306,INSULINA HUMANA,13.078.518/0001-90,FUNDAÇÃO BAIANA DE PESQ. CIENTIFICA E DESENV. ...,544018060000307,1988300040012,7898604730064,-,-,BAHIAFARMA INSULINA HUMANA NPH,100 UI/ML SUS INJ CT FA VD INC X 10 ML,...,NaN,NaN,Não,Sim,Sim,Sim,NaN,Positiva,Sim,Tarja Vermelha(*)
26307,INSULINA HUMANA,13.078.518/0001-90,FUNDAÇÃO BAIANA DE PESQ. CIENTIFICA E DESENV. ...,544018070000407,1988300050018,7898604730071,-,-,BAHIAFARMA INSULINA HUMANA R,100 UI/ML SOL INJ CT FA VD INC X 10 ML,...,NaN,NaN,Não,Sim,Sim,Sim,NaN,Positiva,Sim,Tarja Vermelha
26308,ISOCONAZOL;ABARELIX,33.683.202/0001-34,VISA ESTADUAL SP TESTE,542313030000103,9965400350064,2124165465465,2587469632224,-,PRODUTO DE MEDICAMENTO PARA TESTE,APRESENTAÇÃO 01&nbsp;03,...,"12,35","14,07",Não,Não,Sim,Não,NaN,Negativa,Não,Tarja Vermelha
26309,VALPROATO DE SÓDIO,49.475.833/0001-06,BIOLAB SANUS FARMACÊUTICA LTDA,504118100064506,-,7896112401247,-,-,ÁCIDO VALPRÓICO,250 MG CAP GEL MOLE CT FR VD AMB X 100,...,"54,86","56,24",Não,Não,Não,Não,NaN,Positiva,Sim,Tarja -(*)



Ver o dicionario sobre o arquivo 
https://dados.gov.br/dataset/preco-de-medicamentos-no-brasil-consumidor

Prestar atenção no encoding ('iso-8859-15','utf-8','ascii') Googleit


- 1.Carregar TA_PRECO_MEDICAMENTO.csv


- 2.Revisar os dados (info, columns, head, tail...)


- 3.Subset da Classe Terapeutica = N2C9 - TODOS AS OUTRAS PREPARAÇÕES ANTIENXAQUECOSAS


- 4.Fazer Transformaçoes da coluna de PMC12% para float

- 5.Preço Máximo, Minimo e Mediaao Consumidor %12 da Classse Terapeutica = N2C9 - TODOS AS OUTRAS PREPARAÇÕES ANTIENXAQUECOSAS e trazer a a linha com todas as infos do df


- 6.Coletar 3 tipos de informações relevantes do dataset inteiro
    - 6a Quantidade de Remedios por tipo tarja DICA (groupby)

    - 6b Os 10 laboratorios com mais remedios em ordem decrescente DICA(sortby)
    
    - 6c Faça um groupby Substância e tire um aggregate da coluna PMC 12% com min, max e mean
    
    - 6d Informação que vocês acharem relevante

In [349]:
#2
df_med.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26310 entries, 0 to 26309
Data columns (total 40 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   SUBSTÂNCIA                                             26310 non-null  object
 1   CNPJ                                                   26310 non-null  object
 2   LABORATÓRIO                                            26310 non-null  object
 3   CÓDIGO GGREM                                           26310 non-null  int64
 4   REGISTRO                                               26310 non-null  object
 5   EAN 1                                                  26310 non-null  object
 6   EAN 2                                                  26310 non-null  object
 7   EAN 3                                                  26310 non-null  object
 8   PRODUTO                                                26310 non-null  object
 9   APRESENTAÇÃO                                           26310 non-null  object
 10  CLASSE TERAPÊUTICA                                     26310 non-null  object
 11  TIPO DE PRODUTO (STATUS DO PRODUTO)                    26310 non-null  object
 12  REGIME DE PREÇO                                        26310 non-null  object
 13  PF Sem Impostos                                        26310 non-null  object
 14  PF 0%                                                  26310 non-null  object
 15  PF 12%                                                 25500 non-null  object
 16  PF 17%                                                 25500 non-null  object
 17  PF 17% ALC                                             25500 non-null  object
 18  PF 17,5%                                               25500 non-null  object
 19  PF 17,5% ALC                                           25500 non-null  object
 20  PF 18%                                                 25500 non-null  object
 21  PF 18% ALC                                             25500 non-null  object
 22  PF 20%                                                 25500 non-null  object
 23  PMC 0%                                                 21856 non-null  object
 24  PMC 12%                                                21597 non-null  object
 25  PMC 17%                                                21597 non-null  object
 26  PMC 17% ALC                                            21597 non-null  object
 27  PMC 17,5%                                              21597 non-null  object
 28  PMC 17,5% ALC                                          21597 non-null  object
 29  PMC 18%                                                21597 non-null  object
 30  PMC 18% ALC                                            21597 non-null  object
 31  PMC 20%                                                21597 non-null  object
 32  RESTRIÇÃO HOSPITALAR                                   26310 non-null  object
 33  CAP                                                    26310 non-null  object
 34  CONFAZ 87                                              26310 non-null  object
 35  ICMS 0%                                                26310 non-null  object
 36  ANÁLISE RECURSAL                                       162 non-null    object
 37  LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS)  26310 non-null  object
 38  COMERCIALIZAÇÃO 2020                                   26310 non-null  object
 39  TARJA                                                  26310 non-null  object
dtypes: int64(1), object(39)
memory usage: 8.0+ MB

In [350]:
df_med.head()

,SUBSTÂNCIA,CNPJ,LABORATÓRIO,CÓDIGO GGREM,REGISTRO,EAN 1,EAN 2,EAN 3,PRODUTO,APRESENTAÇÃO,...,PMC 18% ALC,PMC 20%,RESTRIÇÃO HOSPITALAR,CAP,CONFAZ 87,ICMS 0%,ANÁLISE RECURSAL,LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS),COMERCIALIZAÇÃO 2020,TARJA
0,SALICILATO DE FENILA;ÁCIDO SALICÍLICO;ÓXIDO DE...,33.379.884/0001-96,LABORATORIO SIMOES LTDA.,520500901178410,57600510011,7896210500354,-,-,TALCO ALÍVIO,TALQUEIRA C/ 100 G,...,"8,50","9,70",Não,Não,Não,Não,NaN,Negativa,Não,Tarja -(*)
1,DIENOGESTE;VALERATO DE ESTRADIOL,56.990.534/0001-67,SCHERING DO BRASIL QUÍMICA E FARMACÊUTICA LTDA,530917060013104,1002001390025,7896116871497,-,-,CHARMELIE,COM REV A + COM REV B + COM REV C + COM REV D ...,...,"163,25","186,12",Não,Não,Não,Não,NaN,Negativa,Não,Tarja Vermelha(*)
2,HIDROCLOROTIAZIDA;MALEATO DE ENALAPRIL,45.987.013/0001-34,ORGANON FARMACÊUTICA LTDA.,525500402113310,1002900020141,7897337705905,-,-,CO-RENITEC,"20 MG + 12,5 MG COM CT BL AL/AL X 30",...,"73,78","75,62",Não,Não,Não,Não,NaN,Positiva,Não,Tarja Vermelha
3,HIDROCLOROTIAZIDA;MALEATO DE ENALAPRIL,45.987.013/0001-34,ORGANON FARMACÊUTICA LTDA.,525500401117312,1002900020158,7897337705912,-,-,CO-RENITEC,10 MG + 25 MG COM CT BL AL/AL X 30,...,"48,45","49,67",Não,Não,Não,Não,NaN,Positiva,Não,Tarja Vermelha
4,MONTELUCASTE,45.987.013/0001-34,ORGANON FARMACÊUTICA LTDA.,525502006118219,1002900050014,7897337706575,-,-,SINGULAIR,5 MG COM MAST CT 3 BL AL PLAS INC X 10,...,"75,32","77,20",Não,Não,Não,Não,NaN,Positiva,Sim,Tarja Vermelha

In [351]:
df_med.tail()

,SUBSTÂNCIA,CNPJ,LABORATÓRIO,CÓDIGO GGREM,REGISTRO,EAN 1,EAN 2,EAN 3,PRODUTO,APRESENTAÇÃO,...,PMC 18% ALC,PMC 20%,RESTRIÇÃO HOSPITALAR,CAP,CONFAZ 87,ICMS 0%,ANÁLISE RECURSAL,LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS),COMERCIALIZAÇÃO 2020,TARJA
26305,CLORIDRATO DE SEVELÂMER,13.078.518/0001-90,FUNDAÇÃO BAIANA DE PESQ. CIENTIFICA E DESENV. ...,544018120000706,1988300020011,7898604730033,-,-,CLORIDRATO DE SEVELAMER,800 MG COM REV CT FR PLAS OPC X 180,...,NaN,NaN,Sim,Sim,Sim,Sim,NaN,Negativa,Não,Tarja Vermelha(*)
26306,INSULINA HUMANA,13.078.518/0001-90,FUNDAÇÃO BAIANA DE PESQ. CIENTIFICA E DESENV. ...,544018060000307,1988300040012,7898604730064,-,-,BAHIAFARMA INSULINA HUMANA NPH,100 UI/ML SUS INJ CT FA VD INC X 10 ML,...,NaN,NaN,Não,Sim,Sim,Sim,NaN,Positiva,Sim,Tarja Vermelha(*)
26307,INSULINA HUMANA,13.078.518/0001-90,FUNDAÇÃO BAIANA DE PESQ. CIENTIFICA E DESENV. ...,544018070000407,1988300050018,7898604730071,-,-,BAHIAFARMA INSULINA HUMANA R,100 UI/ML SOL INJ CT FA VD INC X 10 ML,...,NaN,NaN,Não,Sim,Sim,Sim,NaN,Positiva,Sim,Tarja Vermelha
26308,ISOCONAZOL;ABARELIX,33.683.202/0001-34,VISA ESTADUAL SP TESTE,542313030000103,9965400350064,2124165465465,2587469632224,-,PRODUTO DE MEDICAMENTO PARA TESTE,APRESENTAÇÃO 01&nbsp;03,...,"12,35","14,07",Não,Não,Sim,Não,NaN,Negativa,Não,Tarja Vermelha
26309,VALPROATO DE SÓDIO,49.475.833/0001-06,BIOLAB SANUS FARMACÊUTICA LTDA,504118100064506,-,7896112401247,-,-,ÁCIDO VALPRÓICO,250 MG CAP GEL MOLE CT FR VD AMB X 100,...,"54,86","56,24",Não,Não,Não,Não,NaN,Positiva,Sim,Tarja -(*)

In [353]:
df_med.columns

Index(['SUBSTÂNCIA', 'CNPJ', 'LABORATÓRIO', 'CÓDIGO GGREM', 'REGISTRO',
       'EAN 1', 'EAN 2', 'EAN 3', 'PRODUTO', 'APRESENTAÇÃO',
       'CLASSE TERAPÊUTICA', 'TIPO DE PRODUTO (STATUS DO PRODUTO)',
       'REGIME DE PREÇO', 'PF Sem Impostos', 'PF 0%', 'PF 12%', 'PF 17%',
       'PF 17% ALC', 'PF 17,5%', 'PF 17,5% ALC', 'PF 18%', 'PF 18% ALC',
       'PF 20%', 'PMC 0%', 'PMC 12%', 'PMC 17%', 'PMC 17% ALC', 'PMC 17,5%',
       'PMC 17,5% ALC', 'PMC 18%', 'PMC 18% ALC', 'PMC 20%',
       'RESTRIÇÃO HOSPITALAR', 'CAP', 'CONFAZ 87', 'ICMS 0%',
       'ANÁLISE RECURSAL',
       'LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS)',
       'COMERCIALIZAÇÃO 2020', 'TARJA'],
      dtype='object')

In [357]:
#3
subset_bool = df_med['CLASSE TERAPÊUTICA'] == 'N2C9 - TODOS AS OUTRAS PREPARAÇÕES ANTIENXAQUECOSAS'
subset = df_med[subset_bool]
subset

,SUBSTÂNCIA,CNPJ,LABORATÓRIO,CÓDIGO GGREM,REGISTRO,EAN 1,EAN 2,EAN 3,PRODUTO,APRESENTAÇÃO,...,PMC 18% ALC,PMC 20%,RESTRIÇÃO HOSPITALAR,CAP,CONFAZ 87,ICMS 0%,ANÁLISE RECURSAL,LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS),COMERCIALIZAÇÃO 2020,TARJA
341,SUCCINATO DE SUMATRIPTANA;NAPROXENO SÓDICO,61.230.314/0001-75,LIBBS FARMACÊUTICA LTDA,523714110031005,1003301760012,7896094208278,-,-,SUMAXPRO,50 MG + 500 MG COM REV CT BL AL AL X 02,...,"36,41","37,33",Não,Não,Não,Não,NaN,Positiva,Sim,Tarja Vermelha(*)
342,SUCCINATO DE SUMATRIPTANA;NAPROXENO SÓDICO,61.230.314/0001-75,LIBBS FARMACÊUTICA LTDA,523714110031105,1003301760020,7896094208285,-,-,SUMAXPRO,85 MG + 500 MG COM REV CT BL AL AL X 02,...,"59,36","60,84",Não,Não,Não,Não,NaN,Positiva,Sim,Tarja Vermelha(*)
5270,DIPIRONA MONOIDRATADA;MESILATO DE DI-HIDROERGO...,57.507.378/0003-65,EMS S/A,541820080140017,1023513370018,7896004760995,-,-,MIGRALIV,"(1,0 + 100,0 + 350,0) MG COM CT BL AL AL X 12",...,"15,90","18,13",Não,Não,Não,Não,NaN,Negativa,Não,Tarja Vermelha(*)
5271,DIPIRONA MONOIDRATADA;MESILATO DE DI-HIDROERGO...,57.507.378/0003-65,EMS S/A,541821020156303,1023513370026,7896004772189,-,-,MIGRALIV,"(1,0 + 100,0 + 350,0) MG COM CT BL AL AL X 20",...,"26,49","30,20",Não,Não,Não,Não,NaN,Negativa,Não,Tarja Vermelha(*)
5272,DIPIRONA MONOIDRATADA;MESILATO DE DI-HIDROERGO...,57.507.378/0003-65,EMS S/A,541821020156403,1023513370034,7896004772196,-,-,MIGRALIV,"(1,0 + 100,0 + 350,0) MG COM CT BL AL AL X 40",...,"53,00","60,43",Não,Não,Não,Não,NaN,Negativa,Não,Tarja Vermelha(*)
5273,DIPIRONA MONOIDRATADA;MESILATO DE DI-HIDROERGO...,57.507.378/0003-65,EMS S/A,541821020156503,1023513370042,7896004772202,-,-,MIGRALIV,"(1,0 + 100,0 + 350,0) MG COM CT BL AL AL X 60",...,"79,49","90,63",Não,Não,Não,Não,NaN,Negativa,Não,Tarja Vermelha(*)
6846,MUCATO DE ISOMETEPTENO,17.159.229/0001-76,LABORATÓRIO TEUTO BRASILEIRO S/A,520712080083603,1037004800073,7896112178361,-,-,SEDALGINA,30 MG + 300 MG + 30 MG DRG CT BL AL PLAS TRANS...,...,"57,07","65,06",Não,Não,Não,Não,NaN,Negativa,Não,Tarja Venda Livre
9654,CLORIDRATO DE METOCLOPRAMIDA;PARACETAMOL;MESIL...,60.659.463/0029-92,ACHÉ LABORATÓRIOS FARMACÊUTICOS S.A,500501901118417,1057300050061,7896658002205,-,-,CEFALIUM,1 MG + 450 MG + 75 MG +10 MG COM CT BL AL PLAS...,...,"21,73","24,78",Não,Não,Não,Não,NaN,Negativa,Sim,Tarja Vermelha
9679,ERGOTAMINA;CAFEÍNA ANIDRA;DIPIRONA,60.659.463/0029-92,ACHÉ LABORATÓRIOS FARMACÊUTICOS S.A,500502001110418,1057300690051,7896658001079,-,-,CEFALIV,01 MG + 100 MG + 350 MG COM CT BL AL PLAS INC ...,...,"16,49","18,81",Não,Não,Não,Não,NaN,Negativa,Sim,Tarja Vermelha
12294,MESILATO DE DI-HIDROERGOTAMINA;CAFEÍNA ANIDRA;...,44.010.437/0001-81,CAZI QUIMICA FARMACEUTICA INDUSTRIA E COMERCIO...,505504701110414,1071501900021,7893736010053,-,-,ENXAK,1MG + 350MG + 100MG COM CT BL AL PLAS INC X 12,...,"16,37","18,66",Não,Não,Não,Não,NaN,Negativa,Sim,Tarja Vermelha
13750,GALCANEZUMABE,43.940.618/0001-44,ELI LILLY DO BRASIL LTDA,507620040021007,1126002000011,7896382708541,-,-,EMGALITY,120 MG/ML SOL INJ CT 1 SER PREENC VD TRANS X 1...,...,"2727,07","3109,24",Não,Não,Não,Não,NaN,Negativa,Sim,Tarja -(*)
13751,GALCANEZUMABE,43.940.618/0001-44,ELI LILLY DO BRASIL LTDA,507620040021107,1126002000021,7896382708558,-,-,EMGALITY,120 MG/ML SOL INJ CT 2 SER PREENC VD TRANS X 1...,...,"5454,15","6218,49",Não,Não,Não,Não,NaN,Negativa,Não,Tarja -(*)
13752,GALCANEZUMABE,43.940.618/0001-44,ELI LILLY DO BRASIL LTDA,507620040020807,1126002000038,7896382708565,-,-,EMGALITY,120 MG/ML SOL INJ CT 3 SER PREENC VD TRANS X 1...,...,"8181,25","9327,77",Não,Não,Não,Não,NaN,Negativa,Não,Tarja -(*)
13753,GALCANEZUMABE,43.940.618/0001-44,ELI LILLY DO BRASIL LTDA,507620040021207,1126002000046,7896382708572,-,-,EMGALITY,120 MG/ML SOL INJ CT 1 SER PREENC VD TRANS X 1 ML,...,"2727,07","3109,24",Não,Não,Não,Não,NaN,Negativa,Não,Tarja -(*)
13754,GALCANEZUMABE,43.940.618/0001-44,ELI LILLY DO BRASIL LTDA,507620040020907,1126002000054,7896382708589,-,-,EMGALITY,120 MG/ML SOL INJ CT 2 SER PREENC VD TRANS X 1 ML,...,"5454,15","6218,49",Não,Não,Não,Não,NaN,Negativa,Não,Tarja -(*)
13755,GALCANEZUMABE,43.940.618/0001-44,ELI LILLY DO BRASIL LTDA,507620040021307,1126002000062,7896382708596,-,-,EMGALITY,120 MG/ML SOL INJ CT 3 SER PREENC VD TRANS X 1 ML,...,"8181,25","9327,77",Não,Não,Não,Não,NaN,Negativa,Não,Tarja -(*)
15004,TANACETUM PARTHENIUM (L.) SCH.BIP.,79.634.572/0001-82,AS ERVAS CURAM INDUSTRIA FARMACEUTICA LTDA,501920100001407,1167800190011,7898152464206,-,-,TANACETO EC,500 MG CAP DURA CT FR PLAS PEAD OPC X 50,...,"61,39","70,00",Não,Não,Não,Não,NaN,Negativa,Não,Tarja -(*)
24505,PARACETAMOL;CAFEÍNA;ÁCIDO ACETILSALICÍLICO,61.082.426/0002-07,COSMED INDUSTRIA DE COSMETICOS E MEDICAMENTOS ...,540921050047307,1781701230033,7896094920910,-,-,DORIL ENXAQUECA,250 MG + 250 MG + 65 MG COM REV CT BL AL AL X 8,...,"14,16","16,13",Não,Não,Não,Não,NaN,Negativa,Não,Tarja Venda Livre/Sem Tarja (*)
24506,PARACETAMOL;CAFEÍNA ANIDRA;ÁCIDO ACETILSALICÍLICO,61.082.426/0002-07,COSMED INDUSTRIA DE COSMETICOS E MEDICAMENTOS ...,540918080036303,1781701230051,7896094908512,-,-,DORIL ENXAQUECA,250 MG + 250 MG + 65 MG COM REV CT BL AL AL X 12,...,"18,94","21,59",Não,Não,Não,Não,NaN,Negativa,Não,Tarja Venda Livre/Sem Tarja (*)
24507,PARACETAMOL;CAFEÍNA ANIDRA;ÁCIDO ACETILSALICÍLICO,61.082.426/0002-07,COSMED INDUSTRIA DE COSMETICOS E MEDICAMENTOS ...,540916040019403,1781701230076,7896094908529,-,-,DORIL ENXAQUECA,250 MG + 250 MG + 65 MG COM REV CT BL AL AL X 18,...,"30,05","34,27",Não,Não,Não,Não,NaN,Negativa,Sim,Tarja Venda Livre/Sem Tarja (*)
24508,PARACETAMOL;CAFEÍNA ANIDRA;ÁCIDO ACETILSALICÍLICO,61.082.426/0002-07,COSMED INDUSTRIA DE COSMETICOS E MEDICAMENTOS ...,540914020013104,1781701230122,7896094906310,-,-,DORIL ENXAQUECA,250 MG + 250 MG + 65 MG COM REV CT BL AL AL X 100,...,"185,52","211,53",Não,Não,Não,Não,NaN,Negativa,Sim,Tarja Venda Livre/Sem Tarja (*)

In [358]:
#4
subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 341 to 24508
Data columns (total 40 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   SUBSTÂNCIA                                             21 non-null     object
 1   CNPJ                                                   21 non-null     object
 2   LABORATÓRIO                                            21 non-null     object
 3   CÓDIGO GGREM                                           21 non-null     int64
 4   REGISTRO                                               21 non-null     object
 5   EAN 1                                                  21 non-null     object
 6   EAN 2                                                  21 non-null     object
 7   EAN 3                                                  21 non-null     object
 8   PRODUTO                                                21 non-null     object
 9   APRESENTAÇÃO                                           21 non-null     object
 10  CLASSE TERAPÊUTICA                                     21 non-null     object
 11  TIPO DE PRODUTO (STATUS DO PRODUTO)                    21 non-null     object
 12  REGIME DE PREÇO                                        21 non-null     object
 13  PF Sem Impostos                                        21 non-null     object
 14  PF 0%                                                  21 non-null     object
 15  PF 12%                                                 21 non-null     object
 16  PF 17%                                                 21 non-null     object
 17  PF 17% ALC                                             21 non-null     object
 18  PF 17,5%                                               21 non-null     object
 19  PF 17,5% ALC                                           21 non-null     object
 20  PF 18%                                                 21 non-null     object
 21  PF 18% ALC                                             21 non-null     object
 22  PF 20%                                                 21 non-null     object
 23  PMC 0%                                                 21 non-null     object
 24  PMC 12%                                                21 non-null     object
 25  PMC 17%                                                21 non-null     object
 26  PMC 17% ALC                                            21 non-null     object
 27  PMC 17,5%                                              21 non-null     object
 28  PMC 17,5% ALC                                          21 non-null     object
 29  PMC 18%                                                21 non-null     object
 30  PMC 18% ALC                                            21 non-null     object
 31  PMC 20%                                                21 non-null     object
 32  RESTRIÇÃO HOSPITALAR                                   21 non-null     object
 33  CAP                                                    21 non-null     object
 34  CONFAZ 87                                              21 non-null     object
 35  ICMS 0%                                                21 non-null     object
 36  ANÁLISE RECURSAL                                       0 non-null      object
 37  LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS)  21 non-null     object
 38  COMERCIALIZAÇÃO 2020                                   21 non-null     object
 39  TARJA                                                  21 non-null     object
dtypes: int64(1), object(39)
memory usage: 6.7+ KB

In [360]:
subset['PMC 12%'] = subset['PMC 12%'].apply(lambda x: x.replace(",","."))
subset['PMC 12%'] = subset['PMC 12%'].astype('float')
subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 341 to 24508
Data columns (total 40 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   SUBSTÂNCIA                                             21 non-null     object
 1   CNPJ                                                   21 non-null     object
 2   LABORATÓRIO                                            21 non-null     object
 3   CÓDIGO GGREM                                           21 non-null     int64
 4   REGISTRO                                               21 non-null     object
 5   EAN 1                                                  21 non-null     object
 6   EAN 2                                                  21 non-null     object
 7   EAN 3                                                  21 non-null     object
 8   PRODUTO                                                21 non-null     object
 9   APRESENTAÇÃO                                           21 non-null     object
 10  CLASSE TERAPÊUTICA                                     21 non-null     object
 11  TIPO DE PRODUTO (STATUS DO PRODUTO)                    21 non-null     object
 12  REGIME DE PREÇO                                        21 non-null     object
 13  PF Sem Impostos                                        21 non-null     object
 14  PF 0%                                                  21 non-null     object
 15  PF 12%                                                 21 non-null     object
 16  PF 17%                                                 21 non-null     object
 17  PF 17% ALC                                             21 non-null     object
 18  PF 17,5%                                               21 non-null     object
 19  PF 17,5% ALC                                           21 non-null     object
 20  PF 18%                                                 21 non-null     object
 21  PF 18% ALC                                             21 non-null     object
 22  PF 20%                                                 21 non-null     object
 23  PMC 0%                                                 21 non-null     object
 24  PMC 12%                                                21 non-null     float64
 25  PMC 17%                                                21 non-null     object
 26  PMC 17% ALC                                            21 non-null     object
 27  PMC 17,5%                                              21 non-null     object
 28  PMC 17,5% ALC                                          21 non-null     object
 29  PMC 18%                                                21 non-null     object
 30  PMC 18% ALC                                            21 non-null     object
 31  PMC 20%                                                21 non-null     object
 32  RESTRIÇÃO HOSPITALAR                                   21 non-null     object
 33  CAP                                                    21 non-null     object
 34  CONFAZ 87                                              21 non-null     object
 35  ICMS 0%                                                21 non-null     object
 36  ANÁLISE RECURSAL                                       0 non-null      object
 37  LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS)  21 non-null     object
 38  COMERCIALIZAÇÃO 2020                                   21 non-null     object
 39  TARJA                                                  21 non-null     object
dtypes: float64(1), int64(1), object(38)
memory usage: 6.7+ KB

/var/folders/ht/z42mr3sn5dv1fg_dxr0llwd00000gn/T/ipykernel_3939/4024938573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['PMC 12%'] = subset['PMC 12%'].apply(lambda x: x.replace(",","."))
/var/folders/ht/z42mr3sn5dv1fg_dxr0llwd00000gn/T/ipykernel_3939/4024938573.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['PMC 12%'] = subset['PMC 12%'].astype('float')

In [364]:
print(f"MIN: {subset['PMC 12%'].min()}")
print(f"MAX: {subset['PMC 12%'].max()}")
print(f"MÉDIA: {subset['PMC 12%'].mean()}")

MIN: 14.51
MAX: 8389.65
MÉDIA: 1631.4100000000003

- 6.Coletar 3 tipos de informações relevantes do dataset inteiro
    - 6a Quantidade de Remedios por tipo tarja DICA (groupby)

    - 6b Os 10 laboratorios com mais remedios em ordem decrescente DICA(sortby)
    
    - 6c Faça um groupby Substância e tire um aggregate da coluna PMC 12% com min, max e mean
    
    - 6d Informação que vocês acharem relevante

In [366]:
#6a
qtd_tarja = df_med.groupby('TARJA').size()
qtd_tarja

TARJA
- (*)                                 49
Tarja  Preta                         173
Tarja  Vermelha                     7132
Tarja -(*)                          1571
Tarja Preta(*)                       379
Tarja Venda Livre                   1299
Tarja Venda Livre/Sem Tarja (*)     1551
Tarja Vermelha (*)                  3878
Tarja Vermelha(*)                  10278
dtype: int64

In [381]:
#6b
mais_rem = df_med.groupby('LABORATÓRIO').size().sort_values(ascending=False).head(10)
mais_rem

LABORATÓRIO
EMS S/A                                            1476
ACHÉ LABORATÓRIOS FARMACÊUTICOS S.A                1122
PRATI DONADUZZI & CIA LTDA                          883
LEGRAND PHARMA INDÚSTRIA FARMACÊUTICA LTDA          875
GERMED FARMACEUTICA LTDA                            870
SANOFI MEDLEY FARMACÊUTICA LTDA.                    864
EUROFARMA LABORATÓRIOS S.A.                         779
NOVA QUIMICA FARMACÊUTICA S/A                       755
GEOLAB INDÚSTRIA FARMACÊUTICA S/A                   736
CRISTÁLIA PRODUTOS QUÍMICOS FARMACÊUTICOS LTDA.     713
dtype: int64

In [383]:
#6c
mais_rem = df_med.groupby('SUBSTÂNCIA').aggregate('PMC 12%')
mais_rem

TypeError: '>=' not supported between instances of 'float' and 'str'



Ver o dicionario sobre o arquivo 
https://dados.gov.br/dataset/preco-de-medicamentos-no-brasil-consumidor

Prestar atenção no encoding ('iso-8859-15','utf-8','ascii') Googleit


- 1.Carregar TA_PRECO_MEDICAMENTO.csv


- 2.Revisar os dados (info, columns, head, tail...)


- 3.Subset da Classe Terapeutica = N2C9 - TODOS AS OUTRAS PREPARAÇÕES ANTIENXAQUECOSAS


- 4.Fazer Transformaçoes da coluna de PMC12% para float

- 5.Preço Máximo, Minimo e Mediaao Consumidor %12 da Classse Terapeutica = N2C9 - TODOS AS OUTRAS PREPARAÇÕES ANTIENXAQUECOSAS e trazer a a linha com todas as infos do df


- 6.Coletar 3 tipos de informações relevantes do dataset inteiro
    - 6a Quantidade de Remedios por tipo tarja DICA (groupby)

    - 6b Os 10 laboratorios com mais remedios em ordem decrescente DICA(sortby)
    
    - 6c Faça um groupby Substância e tire um aggregate da coluna PMC 12% com min, max e mean
    
    - 6d Informação que vocês acharem relevante

In [387]:
import pandas as pd
df_medicamento = pd.read_csv("bases/TA_PRECO_MEDICAMENTO.csv", sep=";", encoding="iso-8859-15", decimal=",")
df_medicamento

/var/folders/ht/z42mr3sn5dv1fg_dxr0llwd00000gn/T/ipykernel_3939/310675885.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_medicamento = pd.read_csv("bases/TA_PRECO_MEDICAMENTO.csv", sep=";", encoding="iso-8859-15", decimal=",")

,SUBSTÂNCIA,CNPJ,LABORATÓRIO,CÓDIGO GGREM,REGISTRO,EAN 1,EAN 2,EAN 3,PRODUTO,APRESENTAÇÃO,...,PMC 18% ALC,PMC 20%,RESTRIÇÃO HOSPITALAR,CAP,CONFAZ 87,ICMS 0%,ANÁLISE RECURSAL,LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS),COMERCIALIZAÇÃO 2020,TARJA
0,SALICILATO DE FENILA;ÁCIDO SALICÍLICO;ÓXIDO DE...,33.379.884/0001-96,LABORATORIO SIMOES LTDA.,520500901178410,57600510011,7896210500354,-,-,TALCO ALÍVIO,TALQUEIRA C/ 100 G,...,8.50,9.70,Não,Não,Não,Não,NaN,Negativa,Não,Tarja -(*)
1,DIENOGESTE;VALERATO DE ESTRADIOL,56.990.534/0001-67,SCHERING DO BRASIL QUÍMICA E FARMACÊUTICA LTDA,530917060013104,1002001390025,7896116871497,-,-,CHARMELIE,COM REV A + COM REV B + COM REV C + COM REV D ...,...,163.25,186.12,Não,Não,Não,Não,NaN,Negativa,Não,Tarja Vermelha(*)
2,HIDROCLOROTIAZIDA;MALEATO DE ENALAPRIL,45.987.013/0001-34,ORGANON FARMACÊUTICA LTDA.,525500402113310,1002900020141,7897337705905,-,-,CO-RENITEC,"20 MG + 12,5 MG COM CT BL AL/AL X 30",...,73.78,75.62,Não,Não,Não,Não,NaN,Positiva,Não,Tarja Vermelha
3,HIDROCLOROTIAZIDA;MALEATO DE ENALAPRIL,45.987.013/0001-34,ORGANON FARMACÊUTICA LTDA.,525500401117312,1002900020158,7897337705912,-,-,CO-RENITEC,10 MG + 25 MG COM CT BL AL/AL X 30,...,48.45,49.67,Não,Não,Não,Não,NaN,Positiva,Não,Tarja Vermelha
4,MONTELUCASTE,45.987.013/0001-34,ORGANON FARMACÊUTICA LTDA.,525502006118219,1002900050014,7897337706575,-,-,SINGULAIR,5 MG COM MAST CT 3 BL AL PLAS INC X 10,...,75.32,77.20,Não,Não,Não,Não,NaN,Positiva,Sim,Tarja Vermelha
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26305,CLORIDRATO DE SEVELÂMER,13.078.518/0001-90,FUNDAÇÃO BAIANA DE PESQ. CIENTIFICA E DESENV. ...,544018120000706,1988300020011,7898604730033,-,-,CLORIDRATO DE SEVELAMER,800 MG COM REV CT FR PLAS OPC X 180,...,NaN,NaN,Sim,Sim,Sim,Sim,NaN,Negativa,Não,Tarja Vermelha(*)
26306,INSULINA HUMANA,13.078.518/0001-90,FUNDAÇÃO BAIANA DE PESQ. CIENTIFICA E DESENV. ...,544018060000307,1988300040012,7898604730064,-,-,BAHIAFARMA INSULINA HUMANA NPH,100 UI/ML SUS INJ CT FA VD INC X 10 ML,...,NaN,NaN,Não,Sim,Sim,Sim,NaN,Positiva,Sim,Tarja Vermelha(*)
26307,INSULINA HUMANA,13.078.518/0001-90,FUNDAÇÃO BAIANA DE PESQ. CIENTIFICA E DESENV. ...,544018070000407,1988300050018,7898604730071,-,-,BAHIAFARMA INSULINA HUMANA R,100 UI/ML SOL INJ CT FA VD INC X 10 ML,...,NaN,NaN,Não,Sim,Sim,Sim,NaN,Positiva,Sim,Tarja Vermelha
26308,ISOCONAZOL;ABARELIX,33.683.202/0001-34,VISA ESTADUAL SP TESTE,542313030000103,9965400350064,2124165465465,2587469632224,-,PRODUTO DE MEDICAMENTO PARA TESTE,APRESENTAÇÃO 01&nbsp;03,...,12.35,14.07,Não,Não,Sim,Não,NaN,Negativa,Não,Tarja Vermelha
26309,VALPROATO DE SÓDIO,49.475.833/0001-06,BIOLAB SANUS FARMACÊUTICA LTDA,504118100064506,-,7896112401247,-,-,ÁCIDO VALPRÓICO,250 MG CAP GEL MOLE CT FR VD AMB X 100,...,54.86,56.24,Não,Não,Não,Não,NaN,Positiva,Sim,Tarja -(*)

In [388]:
df_medicamento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26310 entries, 0 to 26309
Data columns (total 40 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   SUBSTÂNCIA                                             26310 non-null  object
 1   CNPJ                                                   26310 non-null  object
 2   LABORATÓRIO                                            26310 non-null  object
 3   CÓDIGO GGREM                                           26310 non-null  int64
 4   REGISTRO                                               26310 non-null  object
 5   EAN 1                                                  26310 non-null  object
 6   EAN 2                                                  26310 non-null  object
 7   EAN 3                                                  26310 non-null  object
 8   PRODUTO                                                26310 non-null  object
 9   APRESENTAÇÃO                                           26310 non-null  object
 10  CLASSE TERAPÊUTICA                                     26310 non-null  object
 11  TIPO DE PRODUTO (STATUS DO PRODUTO)                    26310 non-null  object
 12  REGIME DE PREÇO                                        26310 non-null  object
 13  PF Sem Impostos                                        26310 non-null  float64
 14  PF 0%                                                  26310 non-null  float64
 15  PF 12%                                                 25500 non-null  float64
 16  PF 17%                                                 25500 non-null  float64
 17  PF 17% ALC                                             25500 non-null  float64
 18  PF 17,5%                                               25500 non-null  float64
 19  PF 17,5% ALC                                           25500 non-null  float64
 20  PF 18%                                                 25500 non-null  float64
 21  PF 18% ALC                                             25500 non-null  float64
 22  PF 20%                                                 25500 non-null  float64
 23  PMC 0%                                                 21856 non-null  float64
 24  PMC 12%                                                21597 non-null  float64
 25  PMC 17%                                                21597 non-null  float64
 26  PMC 17% ALC                                            21597 non-null  float64
 27  PMC 17,5%                                              21597 non-null  float64
 28  PMC 17,5% ALC                                          21597 non-null  float64
 29  PMC 18%                                                21597 non-null  float64
 30  PMC 18% ALC                                            21597 non-null  float64
 31  PMC 20%                                                21597 non-null  float64
 32  RESTRIÇÃO HOSPITALAR                                   26310 non-null  object
 33  CAP                                                    26310 non-null  object
 34  CONFAZ 87                                              26310 non-null  object
 35  ICMS 0%                                                26310 non-null  object
 36  ANÁLISE RECURSAL                                       162 non-null    object
 37  LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS)  26310 non-null  object
 38  COMERCIALIZAÇÃO 2020                                   26310 non-null  object
 39  TARJA                                                  26310 non-null  object
dtypes: float64(19), int64(1), object(20)
memory usage: 8.0+ MB

In [389]:
df_medicamento.head()

,SUBSTÂNCIA,CNPJ,LABORATÓRIO,CÓDIGO GGREM,REGISTRO,EAN 1,EAN 2,EAN 3,PRODUTO,APRESENTAÇÃO,...,PMC 18% ALC,PMC 20%,RESTRIÇÃO HOSPITALAR,CAP,CONFAZ 87,ICMS 0%,ANÁLISE RECURSAL,LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS),COMERCIALIZAÇÃO 2020,TARJA
0,SALICILATO DE FENILA;ÁCIDO SALICÍLICO;ÓXIDO DE...,33.379.884/0001-96,LABORATORIO SIMOES LTDA.,520500901178410,57600510011,7896210500354,-,-,TALCO ALÍVIO,TALQUEIRA C/ 100 G,...,8.50,9.70,Não,Não,Não,Não,NaN,Negativa,Não,Tarja -(*)
1,DIENOGESTE;VALERATO DE ESTRADIOL,56.990.534/0001-67,SCHERING DO BRASIL QUÍMICA E FARMACÊUTICA LTDA,530917060013104,1002001390025,7896116871497,-,-,CHARMELIE,COM REV A + COM REV B + COM REV C + COM REV D ...,...,163.25,186.12,Não,Não,Não,Não,NaN,Negativa,Não,Tarja Vermelha(*)
2,HIDROCLOROTIAZIDA;MALEATO DE ENALAPRIL,45.987.013/0001-34,ORGANON FARMACÊUTICA LTDA.,525500402113310,1002900020141,7897337705905,-,-,CO-RENITEC,"20 MG + 12,5 MG COM CT BL AL/AL X 30",...,73.78,75.62,Não,Não,Não,Não,NaN,Positiva,Não,Tarja Vermelha
3,HIDROCLOROTIAZIDA;MALEATO DE ENALAPRIL,45.987.013/0001-34,ORGANON FARMACÊUTICA LTDA.,525500401117312,1002900020158,7897337705912,-,-,CO-RENITEC,10 MG + 25 MG COM CT BL AL/AL X 30,...,48.45,49.67,Não,Não,Não,Não,NaN,Positiva,Não,Tarja Vermelha
4,MONTELUCASTE,45.987.013/0001-34,ORGANON FARMACÊUTICA LTDA.,525502006118219,1002900050014,7897337706575,-,-,SINGULAIR,5 MG COM MAST CT 3 BL AL PLAS INC X 10,...,75.32,77.20,Não,Não,Não,Não,NaN,Positiva,Sim,Tarja Vermelha

In [390]:
df_medicamento.tail()

,SUBSTÂNCIA,CNPJ,LABORATÓRIO,CÓDIGO GGREM,REGISTRO,EAN 1,EAN 2,EAN 3,PRODUTO,APRESENTAÇÃO,...,PMC 18% ALC,PMC 20%,RESTRIÇÃO HOSPITALAR,CAP,CONFAZ 87,ICMS 0%,ANÁLISE RECURSAL,LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS),COMERCIALIZAÇÃO 2020,TARJA
26305,CLORIDRATO DE SEVELÂMER,13.078.518/0001-90,FUNDAÇÃO BAIANA DE PESQ. CIENTIFICA E DESENV. ...,544018120000706,1988300020011,7898604730033,-,-,CLORIDRATO DE SEVELAMER,800 MG COM REV CT FR PLAS OPC X 180,...,NaN,NaN,Sim,Sim,Sim,Sim,NaN,Negativa,Não,Tarja Vermelha(*)
26306,INSULINA HUMANA,13.078.518/0001-90,FUNDAÇÃO BAIANA DE PESQ. CIENTIFICA E DESENV. ...,544018060000307,1988300040012,7898604730064,-,-,BAHIAFARMA INSULINA HUMANA NPH,100 UI/ML SUS INJ CT FA VD INC X 10 ML,...,NaN,NaN,Não,Sim,Sim,Sim,NaN,Positiva,Sim,Tarja Vermelha(*)
26307,INSULINA HUMANA,13.078.518/0001-90,FUNDAÇÃO BAIANA DE PESQ. CIENTIFICA E DESENV. ...,544018070000407,1988300050018,7898604730071,-,-,BAHIAFARMA INSULINA HUMANA R,100 UI/ML SOL INJ CT FA VD INC X 10 ML,...,NaN,NaN,Não,Sim,Sim,Sim,NaN,Positiva,Sim,Tarja Vermelha
26308,ISOCONAZOL;ABARELIX,33.683.202/0001-34,VISA ESTADUAL SP TESTE,542313030000103,9965400350064,2124165465465,2587469632224,-,PRODUTO DE MEDICAMENTO PARA TESTE,APRESENTAÇÃO 01&nbsp;03,...,12.35,14.07,Não,Não,Sim,Não,NaN,Negativa,Não,Tarja Vermelha
26309,VALPROATO DE SÓDIO,49.475.833/0001-06,BIOLAB SANUS FARMACÊUTICA LTDA,504118100064506,-,7896112401247,-,-,ÁCIDO VALPRÓICO,250 MG CAP GEL MOLE CT FR VD AMB X 100,...,54.86,56.24,Não,Não,Não,Não,NaN,Positiva,Sim,Tarja -(*)

In [391]:
df_medicamento.columns

Index(['SUBSTÂNCIA', 'CNPJ', 'LABORATÓRIO', 'CÓDIGO GGREM', 'REGISTRO',
       'EAN 1', 'EAN 2', 'EAN 3', 'PRODUTO', 'APRESENTAÇÃO',
       'CLASSE TERAPÊUTICA', 'TIPO DE PRODUTO (STATUS DO PRODUTO)',
       'REGIME DE PREÇO', 'PF Sem Impostos', 'PF 0%', 'PF 12%', 'PF 17%',
       'PF 17% ALC', 'PF 17,5%', 'PF 17,5% ALC', 'PF 18%', 'PF 18% ALC',
       'PF 20%', 'PMC 0%', 'PMC 12%', 'PMC 17%', 'PMC 17% ALC', 'PMC 17,5%',
       'PMC 17,5% ALC', 'PMC 18%', 'PMC 18% ALC', 'PMC 20%',
       'RESTRIÇÃO HOSPITALAR', 'CAP', 'CONFAZ 87', 'ICMS 0%',
       'ANÁLISE RECURSAL',
       'LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS)',
       'COMERCIALIZAÇÃO 2020', 'TARJA'],
      dtype='object')

In [394]:
df_medicamento['PMC 12%'].fillna(0,inplace=True)

In [395]:
df_medicamento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26310 entries, 0 to 26309
Data columns (total 40 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   SUBSTÂNCIA                                             26310 non-null  object
 1   CNPJ                                                   26310 non-null  object
 2   LABORATÓRIO                                            26310 non-null  object
 3   CÓDIGO GGREM                                           26310 non-null  int64
 4   REGISTRO                                               26310 non-null  object
 5   EAN 1                                                  26310 non-null  object
 6   EAN 2                                                  26310 non-null  object
 7   EAN 3                                                  26310 non-null  object
 8   PRODUTO                                                26310 non-null  object
 9   APRESENTAÇÃO                                           26310 non-null  object
 10  CLASSE TERAPÊUTICA                                     26310 non-null  object
 11  TIPO DE PRODUTO (STATUS DO PRODUTO)                    26310 non-null  object
 12  REGIME DE PREÇO                                        26310 non-null  object
 13  PF Sem Impostos                                        26310 non-null  float64
 14  PF 0%                                                  26310 non-null  float64
 15  PF 12%                                                 25500 non-null  float64
 16  PF 17%                                                 25500 non-null  float64
 17  PF 17% ALC                                             25500 non-null  float64
 18  PF 17,5%                                               25500 non-null  float64
 19  PF 17,5% ALC                                           25500 non-null  float64
 20  PF 18%                                                 25500 non-null  float64
 21  PF 18% ALC                                             25500 non-null  float64
 22  PF 20%                                                 25500 non-null  float64
 23  PMC 0%                                                 21856 non-null  float64
 24  PMC 12%                                                26310 non-null  float64
 25  PMC 17%                                                21597 non-null  float64
 26  PMC 17% ALC                                            21597 non-null  float64
 27  PMC 17,5%                                              21597 non-null  float64
 28  PMC 17,5% ALC                                          21597 non-null  float64
 29  PMC 18%                                                21597 non-null  float64
 30  PMC 18% ALC                                            21597 non-null  float64
 31  PMC 20%                                                21597 non-null  float64
 32  RESTRIÇÃO HOSPITALAR                                   26310 non-null  object
 33  CAP                                                    26310 non-null  object
 34  CONFAZ 87                                              26310 non-null  object
 35  ICMS 0%                                                26310 non-null  object
 36  ANÁLISE RECURSAL                                       162 non-null    object
 37  LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS)  26310 non-null  object
 38  COMERCIALIZAÇÃO 2020                                   26310 non-null  object
 39  TARJA                                                  26310 non-null  object
dtypes: float64(19), int64(1), object(20)
memory usage: 8.0+ MB


- 3.Subset da Classe Terapeutica = N2C9 - TODOS AS OUTRAS PREPARAÇÕES ANTIENXAQUECOSAS


- 4.Fazer Transformaçoes da coluna de PMC12% para float

- 5.Preço Máximo, Minimo e Mediaao Consumidor %12 da Classse Terapeutica = N2C9 - TODOS AS OUTRAS PREPARAÇÕES ANTIENXAQUECOSAS e trazer a a linha com todas as infos do df


- 6.Coletar 3 tipos de informações relevantes do dataset inteiro
    - 6a Quantidade de Remedios por tipo tarja DICA (groupby)

    - 6b Os 10 laboratorios com mais remedios em ordem decrescente DICA(sortby)
    
    - 6c Faça um groupby Substância e tire um aggregate da coluna PMC 12% com min, max e mean
    
    - 6d Informação que vocês acharem relevante

In [401]:
subset = df_medicamento[df_medicamento['CLASSE TERAPÊUTICA'] == "N2C9 - TODOS AS OUTRAS PREPARAÇÕES ANTIENXAQUECOSAS"]
subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 341 to 24508
Data columns (total 40 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   SUBSTÂNCIA                                             21 non-null     object
 1   CNPJ                                                   21 non-null     object
 2   LABORATÓRIO                                            21 non-null     object
 3   CÓDIGO GGREM                                           21 non-null     int64
 4   REGISTRO                                               21 non-null     object
 5   EAN 1                                                  21 non-null     object
 6   EAN 2                                                  21 non-null     object
 7   EAN 3                                                  21 non-null     object
 8   PRODUTO                                                21 non-null     object
 9   APRESENTAÇÃO                                           21 non-null     object
 10  CLASSE TERAPÊUTICA                                     21 non-null     object
 11  TIPO DE PRODUTO (STATUS DO PRODUTO)                    21 non-null     object
 12  REGIME DE PREÇO                                        21 non-null     object
 13  PF Sem Impostos                                        21 non-null     float64
 14  PF 0%                                                  21 non-null     float64
 15  PF 12%                                                 21 non-null     float64
 16  PF 17%                                                 21 non-null     float64
 17  PF 17% ALC                                             21 non-null     float64
 18  PF 17,5%                                               21 non-null     float64
 19  PF 17,5% ALC                                           21 non-null     float64
 20  PF 18%                                                 21 non-null     float64
 21  PF 18% ALC                                             21 non-null     float64
 22  PF 20%                                                 21 non-null     float64
 23  PMC 0%                                                 21 non-null     float64
 24  PMC 12%                                                21 non-null     float64
 25  PMC 17%                                                21 non-null     float64
 26  PMC 17% ALC                                            21 non-null     float64
 27  PMC 17,5%                                              21 non-null     float64
 28  PMC 17,5% ALC                                          21 non-null     float64
 29  PMC 18%                                                21 non-null     float64
 30  PMC 18% ALC                                            21 non-null     float64
 31  PMC 20%                                                21 non-null     float64
 32  RESTRIÇÃO HOSPITALAR                                   21 non-null     object
 33  CAP                                                    21 non-null     object
 34  CONFAZ 87                                              21 non-null     object
 35  ICMS 0%                                                21 non-null     object
 36  ANÁLISE RECURSAL                                       0 non-null      object
 37  LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS)  21 non-null     object
 38  COMERCIALIZAÇÃO 2020                                   21 non-null     object
 39  TARJA                                                  21 non-null     object
dtypes: float64(19), int64(1), object(20)
memory usage: 6.7+ KB

In [403]:
subset['PMC 12%'] = subset['PMC 12%'].astype('float')
subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 341 to 24508
Data columns (total 40 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   SUBSTÂNCIA                                             21 non-null     object
 1   CNPJ                                                   21 non-null     object
 2   LABORATÓRIO                                            21 non-null     object
 3   CÓDIGO GGREM                                           21 non-null     int64
 4   REGISTRO                                               21 non-null     object
 5   EAN 1                                                  21 non-null     object
 6   EAN 2                                                  21 non-null     object
 7   EAN 3                                                  21 non-null     object
 8   PRODUTO                                                21 non-null     object
 9   APRESENTAÇÃO                                           21 non-null     object
 10  CLASSE TERAPÊUTICA                                     21 non-null     object
 11  TIPO DE PRODUTO (STATUS DO PRODUTO)                    21 non-null     object
 12  REGIME DE PREÇO                                        21 non-null     object
 13  PF Sem Impostos                                        21 non-null     float64
 14  PF 0%                                                  21 non-null     float64
 15  PF 12%                                                 21 non-null     float64
 16  PF 17%                                                 21 non-null     float64
 17  PF 17% ALC                                             21 non-null     float64
 18  PF 17,5%                                               21 non-null     float64
 19  PF 17,5% ALC                                           21 non-null     float64
 20  PF 18%                                                 21 non-null     float64
 21  PF 18% ALC                                             21 non-null     float64
 22  PF 20%                                                 21 non-null     float64
 23  PMC 0%                                                 21 non-null     float64
 24  PMC 12%                                                21 non-null     float64
 25  PMC 17%                                                21 non-null     float64
 26  PMC 17% ALC                                            21 non-null     float64
 27  PMC 17,5%                                              21 non-null     float64
 28  PMC 17,5% ALC                                          21 non-null     float64
 29  PMC 18%                                                21 non-null     float64
 30  PMC 18% ALC                                            21 non-null     float64
 31  PMC 20%                                                21 non-null     float64
 32  RESTRIÇÃO HOSPITALAR                                   21 non-null     object
 33  CAP                                                    21 non-null     object
 34  CONFAZ 87                                              21 non-null     object
 35  ICMS 0%                                                21 non-null     object
 36  ANÁLISE RECURSAL                                       0 non-null      object
 37  LISTA DE CONCESSÃO DE CRÉDITO TRIBUTÁRIO (PIS/COFINS)  21 non-null     object
 38  COMERCIALIZAÇÃO 2020                                   21 non-null     object
 39  TARJA                                                  21 non-null     object
dtypes: float64(19), int64(1), object(20)
memory usage: 6.7+ KB

/var/folders/ht/z42mr3sn5dv1fg_dxr0llwd00000gn/T/ipykernel_3939/1066855724.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['PMC 12%'] = subset['PMC 12%'].astype('float')

- 5.Preço Máximo, Minimo e Mediaao Consumidor %12 da Classse Terapeutica = N2C9 - TODOS AS OUTRAS PREPARAÇÕES ANTIENXAQUECOSAS e trazer a a linha com todas as infos do df


- 6.Coletar 3 tipos de informações relevantes do dataset inteiro
    - 6a Quantidade de Remedios por tipo tarja DICA (groupby)

    - 6b Os 10 laboratorios com mais remedios em ordem decrescente DICA(sortby)
    
    - 6c Faça um groupby Substância e tire um aggregate da coluna PMC 12% com min, max e mean
    
    - 6d Informação que vocês acharem relevante

In [405]:
print(subset['PMC 12%'].min())
print(subset['PMC 12%'].max())
print(subset['PMC 12%'].mean())

14.51
8389.65
1631.4100000000003

In [406]:
#6a
df_medicamento.groupby('TARJA').size()

TARJA
- (*)                                 49
Tarja  Preta                         173
Tarja  Vermelha                     7132
Tarja -(*)                          1571
Tarja Preta(*)                       379
Tarja Venda Livre                   1299
Tarja Venda Livre/Sem Tarja (*)     1551
Tarja Vermelha (*)                  3878
Tarja Vermelha(*)                  10278
dtype: int64

In [407]:
#6b
df_medicamento.groupby('LABORATÓRIO').size().nlargest(10)

LABORATÓRIO
EMS S/A                                            1476
ACHÉ LABORATÓRIOS FARMACÊUTICOS S.A                1122
PRATI DONADUZZI & CIA LTDA                          883
LEGRAND PHARMA INDÚSTRIA FARMACÊUTICA LTDA          875
GERMED FARMACEUTICA LTDA                            870
SANOFI MEDLEY FARMACÊUTICA LTDA.                    864
EUROFARMA LABORATÓRIOS S.A.                         779
NOVA QUIMICA FARMACÊUTICA S/A                       755
GEOLAB INDÚSTRIA FARMACÊUTICA S/A                   736
CRISTÁLIA PRODUTOS QUÍMICOS FARMACÊUTICOS LTDA.     713
dtype: int64

In [408]:
#6c
df_medicamento.groupby('SUBSTÂNCIA').aggregate({'PMC 12%':['max','min','mean']})

                                                     PMC 12%            \
                                                         max       min
SUBSTÂNCIA
21-ACETATO DE DEXAMETASONA;CLOTRIMAZOL                 36.43     36.43
ABATACEPTE                                           8243.91      0.00
ABCIXIMABE                                              0.00      0.00
ABEMACICLIBE                                        27516.32   3836.20
ACALABRUTINIBE                                      52950.92  52950.92
...                                                      ...       ...
ÓXIDO DE MAGNÉSIO;SIMETICONA;HIDRÓXIDO DE ALUMÍNIO     10.45     10.45
ÓXIDO DE MAGNÉSIO;SULFATO DE MANGANÊS;ACETATO D...     67.15     67.15
ÓXIDO DE ZINCO                                        714.95     18.63
ÓXIDO DE ZINCO;RETINOL;COLECALCIFEROL                   0.00      0.00
ÓXIDO DE ZINCO;ÁCIDO ASCÓRBICO                         31.98     31.98


                                                           mean
SUBSTÂNCIA
21-ACETATO DE DEXAMETASONA;CLOTRIMAZOL                 36.43000
ABATACEPTE                                           3434.95000
ABCIXIMABE                                              0.00000
ABEMACICLIBE                                        13606.34875
ACALABRUTINIBE                                      52950.92000
...                                                         ...
ÓXIDO DE MAGNÉSIO;SIMETICONA;HIDRÓXIDO DE ALUMÍNIO     10.45000
ÓXIDO DE MAGNÉSIO;SULFATO DE MANGANÊS;ACETATO D...     67.15000
ÓXIDO DE ZINCO                                        366.79000
ÓXIDO DE ZINCO;RETINOL;COLECALCIFEROL                   0.00000
ÓXIDO DE ZINCO;ÁCIDO ASCÓRBICO                         31.98000

[2307 rows x 3 columns]

In [409]:
#6a
df_medicamento.groupby('TARJA').size()

TARJA
- (*)                                 49
Tarja  Preta                         173
Tarja  Vermelha                     7132
Tarja -(*)                          1571
Tarja Preta(*)                       379
Tarja Venda Livre                   1299
Tarja Venda Livre/Sem Tarja (*)     1551
Tarja Vermelha (*)                  3878
Tarja Vermelha(*)                  10278
dtype: int64

In [413]:
df_medicamento['TARJA'] = df_medicamento['TARJA'].replace(["Tarja Vermelha(*)","Tarja Vermelha (*)", "Tarja  Vermelha"],"Tarja Vermelha")
df_medicamento['TARJA'] = df_medicamento['TARJA'].replace(["Tarja  Preta","Tarja Preta(*)"],"Tarja Preta")
df_medicamento['TARJA'] = df_medicamento['TARJA'].replace(["- (*) ","Tarja -(*)", "Tarja Venda Livre", "Tarja Venda Livre/Sem Tarja (*)"], "Venda Livre")

df_medicamento.groupby('TARJA').size()

TARJA
Tarja Preta         552
Tarja Vermelha    21288
Venda Livre        4470
dtype: int64